<header class="main-header">
    <a href="index.html"><img src="assets/reymoto-logo-main.png" alt="Reymoto Logo" class="logo-main"></a>
    <nav class="main-nav">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html#about">About</a></li>
            <li><a href="index.html#shop">Shop</a></li>
            <li><a href="index.html#features">Features</a></li>
        </ul>
    </nav>
    <div class="header-right">
        <a href="login.html" class="btn-header-link">Login</a>
        <a href="register.html" class="btn-header-primary">Register</a>
    </div>
</header>